body {
    font-family: serif;
    color: #222;
}

h1, h2, h3 {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 200%;
}

h2.subtitle {
    text-align: center;
    font-size: 100%;
    margin: 14pt 0 0 0;
}

h2 {
    font-size: 120%;
    margin: 32pt 0 14pt 0;
}

h3 {
    font-size: 100%;
    margin: 24pt 0 14pt 0;
}

p {
    line-height: 1.5;
    margin: 14pt 0;
    text-align: justify;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

p.date {
    font-size: 80%;
}

p.author {
    text-align: center;
    line-height: 150%;
    margin-bottom: 24pt;
}

hr {
    width: 30%;
    height: 1px;
    background-color: black;
    margin: 1.5em auto;
}

li {
    margin: 4pt 0;
}

span.tt, pre {
    font-family: monospace;
}

span.tt {
    font-size: 80%;
}

pre {
    background-color: #ddd;
    padding: 0.5em;
    font-size: 66%;
}

blockquote {
    margin: 0 2em;
    text-align: justify;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

div.quotesource {
    margin: 0 2em;
    text-align: right;
}
/*
     FILE ARCHIVED ON 02:51:43 Jan 08, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:42:33 Aug 15, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/