body {
    font-size: 14pt;
    padding: 0 0.5em;
}

div#root {
    max-width: 45em;
    margin: 0 auto;
}

/*
     FILE ARCHIVED ON 01:56:55 Jan 08, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:42:33 Aug 15, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/